name: Build and Test

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '20.0.0'

    - name: Install pnpm
      uses: pnpm/action-setup@v2
      with:
        version: 9.9.0

    - name: Install dependencies
      run: pnpm install

    - name: Build
      run: pnpm run build

    - name: Lint
      run: pnpm run lint

    - name: Test
      run: pnpm run test